* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.no-style {
  list-style: none;
}

.logo {
  width: 240px;
  margin: 0 auto;
  padding: 50px 0;
}
.logo img {
  width: 100%;
}

.main-nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-nav ul li.active a {
  background-color: #b2e5fc;
}
.main-nav ul a {
  color: #000;
  display: block;
  height: 75px;
  text-decoration: none;
  font-size: 26px;
  font-weight: 600;
  padding: 15px;
  transition: all 0.5s ease-in-out;
}
.main-nav ul a:hover {
  background-color: #b2e5fc;
}

main .main-home-page {
  padding: 40px 0;
  background-image: url("../img/fondo-pag-speciali.jpg");
  background-size: cover;
  background-position: center;
}
main .main-home-page h2 {
  margin-left: 10px;
  color: #002d73;
  font-size: 35px;
  font-weight: 600;
}
main .main-home-page .cards {
  display: flex;
  flex-wrap: wrap;
}
main .main-home-page .cards .card {
  width: calc(100% / 3 - 20px);
  margin: 10px;
  transition: all 0.4s linear;
}
@media screen and (max-width: 768px) {
  main .main-home-page .cards .card {
    width: calc(100% / 2 - 20px);
  }
}
@media screen and (max-width: 480px) {
  main .main-home-page .cards .card {
    width: 100%;
  }
}
main .main-home-page .cards .card:hover {
  transform: scale(1.1);
}
main .main-home-page .cards .card img {
  width: 100%;
  display: block;
}
main .product {
  background-color: #b7dae5;
  padding: 40px 0;
  color: #002d73;
}
main .product h1 {
  text-align: center;
}
main .product img {
  width: 100%;
}

footer {
  padding-top: 60px;
}
footer::after {
  content: "";
  display: block;
  width: 100%;
  height: 140px;
  background-image: url("../img/footer-montagne-bottom.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
}
footer .footer-wrapper {
  display: flex;
}
@media screen and (max-width: 768px) {
  footer .footer-wrapper {
    flex-direction: column;
  }
}
footer .footer-wrapper .footer-left {
  width: 40%;
}
@media screen and (max-width: 768px) {
  footer .footer-wrapper .footer-left {
    width: 100%;
    padding: 0 20px;
    order: 2;
  }
}
footer .footer-wrapper .footer-left .footer-logo {
  width: 320px;
}
@media screen and (max-width: 768px) {
  footer .footer-wrapper .footer-left .footer-logo {
    width: 250px;
  }
}
footer .footer-wrapper .footer-left .footer-logo img {
  width: 100%;
}
footer .footer-wrapper .footer-left .legal p {
  color: #848d9b;
  font-weight: 600;
}
footer .footer-wrapper .footer-right {
  width: 60%;
}
@media screen and (max-width: 768px) {
  footer .footer-wrapper .footer-right {
    width: 100%;
    padding: 0 20px;
    margin-top: 20px;
  }
}
footer .footer-wrapper .footer-right .footer-right-wrapper {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 480px) {
  footer .footer-wrapper .footer-right .footer-right-wrapper {
    display: block;
  }
}
footer .footer-wrapper .footer-right .footer-right-wrapper .link-list {
  width: 50%;
  margin-bottom: 20px;
}
footer .footer-wrapper .footer-right .footer-right-wrapper .link-list .link-title {
  font-size: 25px;
  color: #848d9b;
}
footer .footer-wrapper .footer-right .footer-right-wrapper .link-list .footer-link {
  text-decoration: none;
  color: #848d9b;
  line-height: 40px;
  font-weight: 600;
}
