* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.uppercase {
  text-transform: uppercase;
}

.logo {
  width: 240px;
  margin: 0 auto;
  padding: 50px 0;
}
.logo img {
  width: 100%;
}

.main-nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-nav ul li.active a {
  background-color: #b2e5fc;
}
.main-nav ul a {
  color: #000;
  display: block;
  height: 75px;
  text-decoration: none;
  font-size: 26px;
  font-weight: 600;
  padding: 15px;
}

main {
  padding: 40px 0;
  background-image: url("../img/fondo-pag-speciali.jpg");
  background-size: cover;
  background-position: center;
}
main h2 {
  margin-left: 10px;
  color: #002d73;
  font-size: 35px;
  font-weight: 600;
}
main .cards {
  display: flex;
  flex-wrap: wrap;
}
main .cards .card {
  width: calc(100% / 3 - 20px);
  margin: 10px;
}
main .cards .card img {
  width: 100%;
  display: block;
}
