//reset 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

// container
.container {
    max-width: $containerSize;
    width: 100%;
    margin: 0 auto;
}

// mix

.uppercase {
    text-transform: uppercase;
}