footer {
    padding-top: 60px;
    
    &::after {
        content: '';
        display: block;
        width: 100%;
        height: 140px;
        background-image: url('../img/footer-montagne-bottom.jpg');
        background-position: bottom;
        background-repeat: no-repeat;
    }
    .footer-wrapper {
        display: flex;

        @media screen and (max-width: 768px) {
            flex-direction: column;

        }

        .footer-left {
            width: 40%;

            @media screen and (max-width: 768px) {
                width: 100%;
                padding: 0 20px;
                order: 2;
            }
   
            .footer-logo {
                width: 320px;

                @media screen and (max-width: 768px) {
                    width: 250px;
                }

                img {
                    width: 100%;
                }
            }
            .legal {
                p{
                    color: $textColor;
                    font-weight: $fontWeightLegalFooter;
                }
            }
    
        }

        .footer-right {
            width: 60%;

            @media screen and (max-width: 768px) {
                width: 100%;
                padding: 0 20px;
                margin-top: 20px;
            }
            
            .footer-right-wrapper {
                display: flex;
                flex-wrap: wrap;

                @media screen and (max-width: 480px) {
                    display: block;
                }
    
                .link-list {
                    width: 50%;
                    margin-bottom: 20px;

                    .link-title{
                        font-size: 25px;
                        color: $textColor;
        
                    }
        
                    .footer-link {
                        text-decoration: none;
                        color: $textColor;
                        line-height: 40px;
                        font-weight: $fontWeightLinkFooter;
                    }
                }
            }
        }
    }
}