// colors
$mainColor: #002d73;
$secondaryColor: #b2e5fc;
$textColor: #848d9b;

// container size
$containerSize: 1200px;

//font weight
$fontWeightSectionTitle: 600;
$fontWeightLinkNav: 600;

//font size
$fontSectionTitle: 35px;
$fontLinkNav: 26px;
